/* Button.css */
.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 5px;
  outline-offset: 4px;
}

.front {
  display: block;
  margin-left: 5px;
  padding: 8px 24px;
  border-radius: 10px;
  font-size: 1rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
